			body {
			
				font-family:Verdana;
				background-color:#202833;
			}
			
			#begin {
							
				 background-color: white; 
				 border:3px solid #46A19F;
				 color:#46A19F;
				 
				 text-align: center;
				 text-decoration: none;
				 display: inline-block;
				 font-size: 18px;
				
				
				
			}
			
			#begin:hover {
							
				 background-color: #46A19F; 
				 border:3px solid #46A19F;
				 color:white;
				 
				 text-align: center;
				 text-decoration: none;
				 display: inline-block;
				 font-size: 18px;
				 
				
			}
			
			#stop {
							
				 background-color: white; 
				 border:3px solid #46A19F;
				 color:#46A19F;
				 
				 text-align: center;
				 text-decoration: none;
				 display: inline-block;
				 font-size: 18px;
				
				
			}
			
			#stop:hover {
							
				 background-color: #46A19F; 
				 border:3px solid #46A19F;
				 color:white;
				 
				 text-align: center;
				 text-decoration: none;
				 display: inline-block;
				 font-size: 18px;
				
				
			}
			
			#head-container {
			
				 margin: auto;
				 width: 75%;
				 height: 15%;
				 padding: 10px;
				 align:center;
				 line-height:95%
			
			}
			
			#aliterative {
				
					margin:auto;
					width:75%;
					height:10%;
					padding-top:10px;
			
			}
			
			#shape {
			
				width:200px;
				height:200px;
				background-color: red;
				display: none;
				position: relative;
				
			}
			
			#scape {
			
				 margin: auto;
				 width: 74%;
				 height: 60%;
				 border: 3px solid black;
				 padding: 10px;
				 border:5px solid #46A19F;
				 background-color:white;
				 z-index:-1;
			}
			
			#fast {
			
				background-color: white;
				margin:auto;
				width:70%;
				height:65%;
				z-index:+1;
				text-align:center;
				border: 5px solid #46A19F;
				font-weight: bold;
				position:fixed;
				bottom:8%;
				right:15%;				
				display:none;
				
			}
			
			#slow {
			
				background-color: white;
				margin:auto;
				width:70%;
				height:65%;
				z-index:+1;
				text-align:center;
				border: 5px solid red;
				font-weight: bold;
				position:fixed;
				bottom:8%;
				right:15%;	
				display:none;
				
			}
			
			.title {
			
				color:#46A19F;
				font-size:300%
			
			}
			
			.title-2 {
			
				color:red;
				font-size:300%
			
			}
			
			#speed {
			
				width:75px;
				height:75px;
				float:left;
			}
			
			.goodTime {
			
				font-weight:bold;
				color:#46A19F;
			
			}
			
			.badTime {
			
				font-weight:bold;
				color:red;
			
			}
			
			#sub {
			
				font-size:15px;
				color:#C5C6C8;
			
			}
			
			#head {
				
				font-size:25px;
				color:#46A19F
			
			}
			
			#timeTaken {
			
				color:#46A19F
			
			}
		